.list-of-year{
    width: 98%;
    height: 40px;
    display: block;
    height: 40px;
    font-size: 10px;
    background: #989879;
    margin-top: 13px;
    margin-left: 1%;
}

select{
    float: right;
    margin-right: 8px;
    margin-top: 5px;
    height: 30px;
    width: 149px;
}